node_modules
dist
exthost-7ad464.cpuprofile
exthost-b888f8.cpuprofile
exthost-daff52.cpuprofile
vscode-update-user-x64
StructuredQuery.log
HP Support Framework
.vscode
Sabon-Font
exthost-4bab40.cpuprofile
exthost-99dd02.cpuprofile
exthost-a386fc.cpuprofile
exthost-ecfa44.cpuprofile
StructuredQuery.log
vscode-typescript
.github
appInsights-nodeAIF-444c3af9-8e69-4462-ab49-4191e6ad1916
appInsights-nodeAIF-d9b70cd4-b9f9-4d70-929b-a071c400b217
node_modules
